<div style="margin:0px auto; width:300px">
    <br />
    <h3>Taxi Fare Calculator</h3>
    <form name="CalculatorForm" ng-submit="SubmitforCalc();" class="form-group-sm">
        <div class="form-group">
            <label for="trip.MinsAbvSpeed" >Mins Above 6 Mph / Mins NOT in Motion:</label>
            <input type="text" class="form-control" ng-model="trip.MinsAbvSpeed" integer ng-init="trip.MinsAbvSpeed ='0'" ng-change="ClearResult()" required/>
        </div>
        <div class="form-group">
            <label for="trip.MilesBlwSpeed">Miles Below 6 Mph:</label>
            <input type="text" class="form-control" ng-model="trip.MilesBlwSpeed" integer ng-init="trip.MilesBlwSpeed ='0'" ng-change="ClearResult()" required/>
        </div>
        <div class="form-group">
            <label for="trip.Date">Date & Time Start:</label>
            <input type="datetime-local" class="form-control" ng-model="trip.DateTime" ng-change="ClearResult()" required />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-secondary" value="Reset" ng-click="ResetUserInputs()" />
            <input type="submit" class="btn btn-success" value="Submit" ng-disabled="CalculatorForm.$invalid" />
        </div>
        <div class="form-group">
            <label for="Result" style="font-weight:bold">Est. Fare:</label>
            <input id="Result" type="text" class="form-control" ng-model="result" disabled>
        </div>
    </form>
    <br />
    <a href="/#/Page1" class="btn btn-primary">To Project Requirement</a>
</div>